/* app css stylesheet */

body {
<<<<<<< HEAD
=======
}

p.lead {
	font-size: 170%;
	font-weight: bold;
	padding-left: 5px;
}

span {
	padding: 0px 15px;
>>>>>>> c71bb4a... got json to show services offered along with some properties
}

p.lead {
	font-size: 170%;
	font-weight: bold;
	padding-left: 5px;
}

#sidebar {
	border-right: 2px solid black;
}

span {
	padding: 0px 15px;
}


