<!doctype html>
<html lang="en" ng-app="emailApp">
<head>
  <meta charset="utf-8">
  <title>Edit Emails</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

  <script src="js/json2.js"> </script>
  <script src="js/csv.js"> </script>
  <!--<script src="js/csv-to-json.js"></script>-->

  <script src="js/controllers.js"></script>
</head>
<body ng-controller="EmailListCtrl">
    <div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#">Email Dashboard</a>
			<!--<ul class="nav">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			</ul>-->
		</div>
    </div>

  <div class="container-fluid">
<tabs>

<pane title="Upload CSV">
<h2>Hello World</h2>
</pane>


<!-- ========================================================= -->

<pane title="Edit">
   <div class="row-fluid">
      <div id="sidebar" class="span2">
        <!--Sidebar content-->

		Community: 
		<select class="input-small" ng-model="community">
		  <option value="" selected>All</option>
		  <option value="Seattle">Seattle</option>
		  <option value="Eastside">Eastside</option>
		  <option value="Vashon">Vashon</option>
		</select><br><br>

		Top 
		<select class="input-mini" ng-model="numResults" disabled="true" ng-init="200">
		  <option value="20">20</option>
		  <option value="100">100</option>
		  <option value="200" selected>200</option>
		</select> Results <br><small>(not working yet)</small><br><br>

		<em>Sorted by date updated</em>
		<br><br>

		<button class="btn btn-info" ng-click="showFull=!showFull" ng-init="showFull=false">Show Full</button>

		<br><span ng-model="errors"></span>

      </div>

      <div class="span10">
        <!--Body content-->

        <ol class="offers">
          <li ng-repeat="offer in offers | filter:community | orderBy:offer['Last Updated'] ">
			<h4>{{offer.Title}} &mdash; by {{offer['First Name']}}</h4>
            {{offer.Body}}<br>
			<br>
            Link: <a href={{offer.URL}} target="_blank">{{offer.URL}}</a>
			<br><br>Category: <em>{{offer['Top-Level Category']}}</em>
			<br>Ad Id: <em>{{offer['Ad ID']}}</em>
			<br><em>Created: {{offer['Last Updated']}}</em>
			<br><em>Expires: {{offer['Expiration Date']}}</em>
			<br><br>
			<div style="padding: 3px; border: 1px solid green" ng-show="showFull">
				<small>Full offer:{{offer|json}}</small>
			</div>
			<hr>
          </li>
        </ol>

      </div>
    </div>
</pane>
</tabs>
  </div>

</body>
</html>
